/* this is a comment */
/* CSS per element should be in alphabetical order */

h2 {
    color: red;
    font-size: 200px;
}

img:hover {
    background-color: gold;
}

/********************CLASS SELECTORS******************/
.xmas_tree {
    background-color: blue;
}

.star {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

.red {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    right: 200px;
   
}

.blue {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
  
}

.yellow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
}

/********************ID SELECTORS******************/

#heading {
    color: blue;
}