body {
    background-color: #CFF5E7;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px;

}

h1 {
    color: darkcyan;
}

h3{
    color: darkcyan;
}